:root {
  /* Primary Brand  */
  --iris: #4d5ae5;

  /* Pressed state */
  --ocean: #404bbf;

  /* Dark */
  --navy-blue: #2e2f42;

  /* Text */
  --slate: #434455;

  /* Subtle Text*/
  --light-slate: #8e8f99;

  /* Accent */
  --cornflower: #e7e9fc;

  /* Light */
  --cloud: #f4f4fd;

  /* Modal overlay */
  --navy-blue-modal: #2e2f42;

  /* Success */
  --green: #31d0aa;

  /* background  */
  --white-color: #ffffff;

  /* Modal background  */
  --dairy: #fcfcfc;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/*---------------------------- h1-h3, p setting */

.hii-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;

  margin-bottom: 72px;
}
.h-hide {
  display: none;
}
.hiii-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.p-title {
  color: var(--slate);
}
/* ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*---- 
* {
  list-style: none;
  text-decoration: none;
} 
-----*/
/* --------------------HEADER----------------- */
.header-size {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.had-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}

/* -------------------logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-studio {
  color: var(--navy-blue);
}
.logo-footer {
  font-size: 18px;
  line-height: 1.17;
  color: var(--cloud);
}
.flex-menu {
  display: flex;
  align-items: center;
}
.flex-menu-item:not(:last-child) {
  margin-right: 40px;
}
/* -----------------------navigation-menu */
.link-menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--navy-blue);
  position: relative;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  position: absolute;
  left: 0;
  margin-top: 21px;
}

.flex-address-item:not(:last-child) {
  margin-right: 40px;
}

.link-menu:hover,
.link-menu:focus {
  color: var(--ocean);
}
/* ------------------------address */
.addres-contact {
  font-style: normal;
}
.contact-flex-menu {
  display: flex;
  align-items: center;
}
.link-contact {
  color: var(--slate);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-contact:hover,
.link-contact:focus {
  color: var(--ocean);
}
/* ----------------------------BODY */
/* -----------hero */

.hi-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--white-color);
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  width: 496px;
}
.hero-section {
  max-width: 1440px;
  background-color: var(--navy-blue);
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.btn {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  background-color: var(--iris);
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: auto;
  border: none;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ------------------------about */
.about-section {
  padding-top: 120px;
}

.about-flex-container {
  display: flex;
  /* flex-wrap: wrap; */
  margin-left: -24px;
}

.about-list-item {
  flex-basis: calc(100% / 4-24px);
  margin-left: 24px;
}
.about-block-item {
  padding: 24px 100px;
  margin-bottom: 8px;
  background-color: var(--cloud);
}
.about-icon {
  /* width: 64px;
  height: 64px; */
  justify-content: center;
}

/* ------------what are we doing */
.what-doing-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
}
.li-what-goin {
  flex-basis: calc(100% / 3-24px);
  margin-left: 24px;
}

/* -----------team section */
.team-section {
  background: var(--cloud);
}
.team-flex-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
}
.team-card {
  flex-basis: calc(100% / 4-24px);
  margin-left: 24px;
}
.team-card-item {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-social-block {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
}
.team-social-li {
  flex-basis: calc(100%-4 / 24px);
  margin-left: 24px;
}
.team-social-link {
  position: relative;
  background-color: var(--iris);
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean);
}
.tean-social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--cloud);
}
/* ------------------------customers */
.customers-block {
  display: flex;
  /* flex-wrap: wrap; */
  margin-left: -24px;
}
.customers-li {
  flex-basis: calc(100% / 6-24px);
  margin-left: 24px;
}
.customers-link {
  position: relative;
  width: 168px;
  height: 88px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  fill: var(--light-slate);
  display: inline-block;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  width: 104px;
  height: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.customers-link:hover,
.customers-link:focus {
  fill: var(--ocean);
}
/* -------------------------------FOOTER */

.footer-section {
  display: flex;
  background: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.foot-flex {
  display: flex;
  justify-content: space-between;
}
.foot-info {
  color: var(--cornflower);
  width: 264px;
  margin-top: 16px;
}
.foot-container {
  width: 264px;
  margin-left: auto;
  margin-right: 120px;
  padding-left: 15px;
  padding-right: 15px;
}
.social-media-foot {
  margin-left: 120px;
}
.social-media-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
}
.foot-social-li {
  flex-basis: calc(100% / 4-16px);
  margin-left: 16px;
}
.foot-social-link {
  position: relative;
  display: inline-block;
  background-color: var(--slate);
  border-radius: 50%;
  width: 40px;
  height: 40px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-social-link:hover,
.foot-social-link:focus {
  background-color: var(--green);
}
.foot-social-icon {
  fill: var(--cloud);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* --------------------------------------------PORTFOLIO */
.filter-btn-section {
  padding-top: 96px;
}
.btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.fltr-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  letter-spacing: 0.04em;
  cursor: pointer;
  align-items: center;
  padding: 12px 24px;
  border: none;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fltr-btn:hover,
.fltr-btn:focus {
  color: var(--white-color);
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* -------------------------content */
.portf-content-section {
  margin-top: 72px;
  margin-bottom: 120px;
}
.filter-content-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -48px;
}
.filter-content {
  flex-basis: calc(100% / 3-24px);
  margin-left: 24px;
  margin-top: 48px;
}
.filter-content-item {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;

  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.item-thumb {
  position: relative;
  overflow: hidden;
}

.content-thumb {
  color: var(--cloud);
  position: absolute;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.content-link:hover .content-thumb,
.content-link:focus .content-thumb {
  transform: translateY(0);
}
.content-link:hover .filter-content-item,
.content-link:focus .filter-content-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ---------------------------MADAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 408px;
  min-height: 576px;

  background-color: var(--dairy);
}
.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  cursor: pointer;
  fill: var(--navy-blue);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-close:hover,
.btn-close:focus {
  background-color: var(--ocean);
  fill: var(--white-color);
}

/* --------------------------------footer FORM----- */
.forma {
  display: block;
  margin-left: auto;
}
.hiv-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.subscribe-btn {
  width: 165px;
  height: 40px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  background-color: var(--iris);
  letter-spacing: 0.04em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: auto;
  border: none;
  padding-left: 24px;
  padding-right: 24px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.foot-btb-icon {
  display: inline-block;
  align-items: center;
}
.subscribe-input {
  height: 40px;
  width: 260px;
  display: inline-block;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  letter-spacing: 0.04em;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(12px / 24px);
  background-color: transparent;
  padding-left: 16px;
  margin-right: 24px;
  color: var(--white-color);
}
.subscribe-input::placeholder {
  color: var(--white-color);
}

.foot-btb-text {
  display: flex;
}
/* -------------------madal FORM */

.h-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--navy-blue);
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}
.form-section {
  width: 360px;
  margin-top: 72px;
  margin-left: 24px;
  margin-right: 24px;
}
.form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--light-slate);
  letter-spacing: 0.01em;
}

.form-field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 8px;
}

textarea {
  resize: none;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-left: 16px;
}
textarea::placeholder {
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-input {
  border: 1px solid #2e2f42;
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
}
.name-svg {
  top: 50%;
  left: 19px;
  position: absolute;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .name-svg {
  fill: var(--iris);
}
.form-lable {
  display: inline-block;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.check-policy {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.checkbox:focus + .check-icon,
.checkbox:hover + .check-icon {
  border-color: var(--iris);
  cursor: pointer;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;

  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
  appearance: none;
}
.checkbox:checked + .check-icon {
  border-color: transparent;
  background-image: url("../images/check1.svg");
  background-color: var(--ocean);
  background-size: contain;
  background-origin: border-box;
}
.check-label {
  letter-spacing: 0.04em;
}
/* -------------form BUTTON */
.madal-sub-bnb {
  width: 169px;
  height: 56px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  background-color: var(--iris);
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: auto;
  border: none;

  margin-bottom: 24px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.madal-sub-bnb:hover,
.madal-sub-bnb:focus {
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* -------------------form buttom */
