:root {
  /* Primary Brand  */
  --iris: #4d5ae5;

  /* Pressed state */
  --ocean: #404bbf;

  /* Dark */
  --navy-blue: #2e2f42;

  /* Text */
  --slate: #434455;

  /* Subtle Text*/
  --light-slate: #8e8f99;

  /* Accent */
  --cornflower: #e7e9fc;

  /* Light */
  --cloud: #f4f4fd;

  /* Modal overlay */
  --navy-blue-modal: #2e2f42;

  /* Success */
  --green: #31d0aa;

  /* background  */
  --white-color: #ffffff;

  /* Modal background  */
  --dairy: #fcfcfc;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
body.modal-open {
  overflow: hidden;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* =======================================HEADER */
.header-size {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  position: relative;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.flex-tool {
  display: flex;
  justify-content: space-between;
}
.navigation {
  align-items: center;
}

/* -------------LOGO */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 120px;
}
.logo-studio {
  color: var(--navy-blue);
}
.logo.is-open {
  display: none;
}
/* ----------------Navigation */
.mob-menu-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

  /* height: 500px; */
}
.head-menu-item {
  position: relative;
}

.h-title-nav {
  font-weight: 500;
  color: var(--navy-blue);
}
.link-contact {
  color: var(--navy-blue);
}
.h-title-nav:focus,
.h-title-nav:hover,
.link-contact:hover,
.link-contact:focus {
  color: var(--iris);
}
.mob-menu-btn {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
}
.menu-icon-open {
  stroke: var(--navy-blue);
}
.menu-icon-close {
  stroke: var(--navy-blue);
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mob-menu-btn .icon-cross {
  display: none;
}
.mob-menu-btn.is-open {
  margin-left: auto;
  position: relative;
  padding: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  cursor: pointer;
  fill: var(--navy-blue);
}
.mob-menu-btn.is-open .icon-cross {
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  left: 0;
}
.mob-menu-btn.is-open .icon-open-menu {
  display: none;
}

.mob-menu-container.is-open {
  display: block;
}
/* ---------------------Social mobile menu */
.mob-menu-social {
  display: none;
}
/* =========================header */
/* =======================================================BODY */
/* =======================================HERO */
.hi-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--white-color);
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  /* width: 496px; */
}
.hero-section {
  background-color: var(--navy-blue);
  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and(min-resolution:192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-x2.jpg);
  }
}
.btn {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white-color);
  background-color: var(--iris);
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: auto;
  border: none;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* =======================hero */
/* =======================================ABOUT */
.about-section {
  padding-top: 96px;
  padding-bottom: 96px;
  margin-bottom: -72px;
}
.about-flex-container {
  display: flex;
  flex-wrap: wrap;

  margin-left: -24px;
}
.about-block-item {
  display: none;
  padding: 24px 100px;
  margin-bottom: 8px;
  background-color: var(--cloud);
}
.about-list-item {
  flex-basis: calc(100% / 2-24px);
  margin-left: 24px;
}
.hiii-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}
.p-title {
  font-weight: 500;
  margin-bottom: 72px;
  width: 350px;
}
.about-icon {
  /* width: 64px;
  height: 64px; */
  justify-content: center;
}
.h-hide {
  display: none;
}
/* ===========================about */
/* ====================================WHAT WE DO */
.what-going-section {
  padding-bottom: 120px;
}
.what-doing-flex {
  display: none;
  flex-wrap: wrap;
  margin-left: -24px;
}
.li-what-goin {
  flex-basis: calc(100% / 3-24px);
  margin-left: 24px;
}
.h-doing-header {
  display: none;
}
.off {
  display: none;
}
/* ============================what we do */
/* =======================================TEAM */
.team-section {
  padding-top: 96px;
  padding-bottom: 96px;
  margin-bottom: -72px;
  background-color: var(--cloud);
}
.team-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -24px;
}
.team-card {
  flex-basis: calc(100% / 2-24px);
  margin-left: 24px;
}
.hii-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);

  margin-bottom: 72px;
}
.hiii-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.p-team {
  margin-bottom: 8px;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.team-social-link {
  position: relative;
  background-color: var(--iris);
  display: inline-block;
  outline: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean);
}
.tean-social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--cloud);
}
.team-card-item {
  width: 264px;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-social-block {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
}
.team-social-li {
  flex-basis: calc(100%-4 / 24px);
  margin-left: 24px;
}
/* =========================team */

/* =======================================CUSTOMER */
.customers-section {
  padding-top: 96px;
  padding-bottom: 96px;
  margin-bottom: -72px;
  background-color: var(--white-color);
}
.custom-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -16px;
}
.custom-unit {
  flex-basis: calc(100% / 3-16px);
  margin-left: 16px;
}
.custom-link {
  position: relative;

  width: 168px;
  height: 88px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  fill: var(--light-slate);
  display: inline-block;
  outline: none;

  transition-property: fill border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-icon {
  width: 104px;
  height: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-link:hover,
.custom-link:focus {
  fill: var(--ocean);
  border-color: var(--ocean);
}
/* =======================customer */
/* =======================================FOOTER */
.footer-section {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--navy-blue);
}
/* --------------------LOGO */
.logo-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mob-logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  align-items: center;
}
.logo-footer {
  font-size: 18px;
  line-height: 1.17;
  color: var(--cloud);
}
.p-foot-info {
  color: var(--cloud);
  width: 268px;
  margin-top: 16px;
}
/* ----------------Foot social media */
.foot-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foot-title {
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--white-color);
}
.foot-media-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
}
.foot-social-unit {
  flex-basis: calc(100% / 4-16px);
  margin-left: 16px;
}

.foot-social-link {
  position: relative;
  display: inline-block;
  background-color: var(--slate);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  outline: none;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-social-link:hover,
.foot-social-link:focus {
  background-color: var(--green);
}
.foot-social-icon {
  fill: var(--cloud);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ------------------Foot form */
.foot-form {
  display: flex;
  position: relative;
}

.subscribe-title {
  font-weight: 500;
  color: var(--white-color);
}
.subscribe-input {
  height: 40px;
  width: 100%;
  display: inline-block;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  letter-spacing: 0.04em;
  font-size: 12px;
  line-height: 2;
  color: var(--white-color);
  background-color: transparent;
  outline: none;
  cursor: pointer;

  padding-left: 16px;
  margin-bottom: 16px;
  margin-top: 16px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:focus,
.subscribe-input:hover {
  border-color: var(--iris);
}
.subscribe-btn {
  width: 165px;
  height: 40px;

  font-weight: 500;
  letter-spacing: 0.04em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--iris);

  cursor: pointer;

  outline: none;
  border: none;
  padding-left: 24px;
  padding-right: 24px;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ================================footer */

/* =======================================MADAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  overflow-y: scroll;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.madal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 408px;

  background-color: var(--dairy);
}
.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--cornflower);
  cursor: pointer;
  outline: none;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-close:hover,
.btn-close:focus {
  background-color: var(--ocean);
  fill: var(--white-color);
}
/* -----------------FORM in MADAL */
.form-section {
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}
.h-form-title {
  font-weight: 500;
  color: var(--navy-blue);
  margin-bottom: 34px;
  text-align: center;
}
.form-lable {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 26px;
}
input {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.form-input {
  border: 1px solid #2e2f42;
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  outline: none;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.lable-text {
  position: absolute;
  top: -4px;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 1.16;
  font-size: 12px;
  color: var(--light-slate);

  transform: translateY(-100%);
  margin-bottom: 4px;
}
.name-svg {
  top: 50%;
  left: 19px;
  position: absolute;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
textarea {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;

  resize: none;
  border: 1px solid #2e2f42;
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  outline: none;
}
textarea:focus {
  border-color: var(--iris);
}
textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.form-input:focus ~ .name-svg,
.form-input:focus {
  fill: var(--iris);
  border-color: var(--iris);
}
/* ---------------CHECKBOX */
.check-policy {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.checkbox {
  appearance: none;
}
.checkbox:focus + .check-icon,
.checkbox:hover + .check-icon {
  border-color: var(--iris);
  cursor: pointer;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--navy-blue);
  border-radius: 2px;
  margin-right: 8px;
  background-color: transparent;

  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .check-icon {
  border-color: transparent;
  background-image: url("../images/check1.svg");
  background-color: var(--ocean);
  background-size: contain;
  background-origin: border-box;
}
.check-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
/* -------------form BUTTON */
.madal-sub-bnb {
  width: 169px;
  height: 56px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--iris);
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  outline: none;
  border: none;
  margin: 0 auto;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.madal-sub-bnb:hover,
.madal-sub-bnb:focus {
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ----------form buttom */
/* =======================================madal */
/* =================================body */

/* ============================PORTFOLIO====================== */
.filter-btn-section {
  padding-top: 48px;
  padding-bottom: 48px;
}
.btn-list {
  display: flex;
}

.fltr-btn {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  align-items: center;
  padding: 12px 24px;
  border: none;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fltr-btn:hover,
.fltr-btn:focus {
  color: var(--white-color);
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* --------------------------Portfolio item */

.content-list {
  display: flex;
}
.filter-content {
  margin-bottom: 48px;
}
.content-link {
  outline: none;
}
.item-thumb {
  position: relative;
  overflow: hidden;
}
.filter-content-item {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;

  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.h-content-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
/* .p-content-item{

} */
.content-thumb {
  color: var(--cloud);
  position: absolute;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.content-link:hover .content-thumb,
.content-link:focus .content-thumb {
  transform: translateY(0);
}
.content-link:hover .filter-content-item,
.content-link:focus .filter-content-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ====================portfolio===================== */
