:root {
  /* Primary Brand  */
  --iris: #4d5ae5;

  /* Pressed state */
  --ocean: #404bbf;

  /* Dark */
  --navy-blue: #2e2f42;

  /* Text */
  --slate: #434455;

  /* Subtle Text*/
  --light-slate: #8e8f99;

  /* Accent */
  --cornflower: #e7e9fc;

  /* Light */
  --cloud: #f4f4fd;

  /* Modal overlay */
  --navy-blue-modal: #2e2f42;

  /* Success */
  --green: #31d0aa;

  /* background  */
  --white-color: #ffffff;

  /* Modal background  */
  --dairy: #fcfcfc;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* ---------------------HEADER */
.header-size {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* -------------LOGO */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-studio {
  color: var(--navy-blue);
}
/* -------------logo */

/* ---------------------header */
/* --------------------BODY */
/* -------------------HERO */
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
/* -------------------hero */
/* -------------------ABOUT */
.about-section {
  padding-top: 96px;
  padding-bottom: 96px;
  margin-bottom: -72px;
}
.hiii-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--navy-blue);
  text-align: center;

  margin-bottom: 8px;
}
.p-title {
  font-weight: 500;
  margin-bottom: 72px;
}

.h-hide {
  display: none;
}
/* -------------------about */

/* ---------------------TEAM */
.team-section {
  padding-top: 96px;
  padding-bottom: 96px;
  margin-bottom: -72px;
  background: var(--cloud);
}
.hii-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);

  margin-bottom: 72px;
}
.hiii-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
  margin-bottom: 8px;
}
.p-team {
  margin-bottom: 8px;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.team-social-link {
  position: relative;
  background-color: var(--iris);
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.tean-social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--cloud);
}
.team-card-item {
  width: 264px;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-social-block {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
}
.team-social-li {
  flex-basis: calc(100%-4 / 24px);
  margin-left: 24px;
}
/* ---------------------team */
/* --------------------body */
